# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="db url"

CLOUDINARY_CLOUD_NAME="your cloudinary name"
CLOUDINARY_API_KEY="your api key"
CLOUDINARY_API_SECRET="your api secret"

TELEGRAM_TOKEN_API="your api telegram"